<header>


	<%= link_to root_path do %>	
		<%= image_tag("logo.png", class: "logo") %>
  <% end %>


	<nav>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Services", services_path %></li>
		<li><%= link_to "Software", software_path %></li>
		<div class='nav-spacer'></div>
		<li><%= link_to "Hardware", hardware_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact Us", contact_path %></li>
	</nav>

</header>